body {
    background-color: #e0f2f1;
}

nav i.logo{
    font-size: 3rem;
}

h4 {
    margin: 0;
}

.flashes {
    margin-top: 20px;
    border-radius: 2em;
}

.flashes h4 {
    line-height: 2;
}

.place {
    background-color: brown;
}