@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* --------------------------------------------- General Rules */

body {
    background-color: #e0f2f1;
    font-family: Itim, sans-serif;
    font-size: large;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

button {
    font-family: Itim, sans-serif;
}

/* --------------------------------------------- NavBar */

nav i.logo{
    font-size: 3rem;
}

/* --------------------------------------------- Flash Messages */

h4 {
    margin: 0;
}

.flashes {
    margin-top: 20px;
    border-radius: 2em;
}

.flashes h4 {
    line-height: 2;
}

/* --------------------------------------------- Place Cards */

.card-image {
    height: 250px;
}

.image {
    display: block;
    margin: 0;
    width: 100%;
    max-height: 60%;
}

