{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Add Place</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_on</i>
                    <input id="place_name" name="place_name" minlength="3" data-length="20" type="text" class="validate" required>
                    <label for="place_name">Place Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <input id="city" name="city" minlength="3" data-length="20" type="text" class="validate" required>
                    <label for="city">City</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">flag</i>
                    <input id="country" name="country" minlength="3" data-length="20" type="text" class="validate" required>
                    <label for="country">Country</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">photo_camera</i>
                    <input id="url" name="url" type="url" class="validate" required>
                    <label for="url">Upload Image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">public</i>
                    <input id="continent" name="continent" minlength="3" data-length="20" type="text" class="validate" required>
                    <label for="continent">Continent</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">article</i>
                    <textarea id="description" name="description" minlength="5" data-length="200" class="materialize-textarea validate" required></textarea>
                    <label for="description">Share Your Experience!</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}