{% extends "base.html" %}
{% block content %}

    <!-- Hero-image -->
    <div class="row">
        <div class="col s12">
            <img class="hero-image" src="static/images/hero-image.jpg">
        </div>
    </div>
    <!-- Description -->
    <div class="row">
        <div class="col s12 center-align">
            <h3>Look for your next destination!</h3>
            <h5>
                Place To Go will help you find your next destination with the ability to create
                and share your own experiences and favourite places, you will have found your next stop in not time!
            </h5>
            <h5 class="center-align">
                Get inspired by a all different places already on this website and start creating yourself!!
            </h5>
        </div>
    </div>
    <!-- Sign Up -->
    <div class="row">
        <div class="col s12 center-align">
            <h3>Get inspired, share and create. <a href="{{ url_for('signup') }}">Signup Now!</a></h3>
        </div>
    </div>

{% endblock %}