{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Sign Up</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">face</i>
                        <input id="username" name="username" type="text" data-length="20"
                        pattern="^[A-Za-z0-9_]{5,20}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">vpn_key</i>
                        <input id="password" name="password" type="password" data-length="20"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Sign Up -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large teal darken-4">
                        Sign Up 
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already have an account? <br>
                <a href="{{ url_for('signin') }}" class="light-blue-text text-darken-4">Sign In Here</a>
            </p>
        </div>
    </div>

{% endblock %}