{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Sign In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signin') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">face</i>
                        <input id="username" name="username" type="text"
                            pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix teal-text text-darken-4">vpn_key</i>
                        <input id="password" name="password" type="password"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row center-align">
                    <button type="submit" class="btn-large teal darken-4">
                        Sign in
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Sign Up -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Don't have an account yet? <br>
                    <a href="{{ url_for('signup') }}" class="light-blue-text text-darken-4">Sign Up Here</a>
            </p>
        </div>
    </div>

{% endblock %}