{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Add Place</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_place') }}">
            <div class="card-panel">
                <!-- Place Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_on</i>
                        <input id="place_name" name="place_name" data-length="30"
                            pattern="^[^\s][A-Za-z0-9\s]{3,30}$" type="text" class="validate" required>
                        <label for="place_name">Place Name</label>
                        <span class="helper-text" data-error="Use only letters and numbers, between 3-30 characters" data-success="✓">Only letters and numbers</span>
                    </div>
                </div>
                <!-- City -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_city</i>
                        <input id="city" name="city" data-length="30" 
                            pattern="^[^\s][A-Za-z\s]{3,30}$" type="text" class="validate" required>
                        <label for="city">City</label>
                        <span class="helper-text" data-error="Use only letters, between 3-30 characters" data-success="✓">Only letters</span>
                    </div>
                </div>
                <!-- Country -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">flag</i>
                        <input id="country" name="country" data-length="30" 
                            pattern="^[^\s][A-Za-z\s]{3,30}$" type="text" class="validate" required>
                        <label for="country">Country</label>
                        <span class="helper-text" data-error="Use only letters, between 3-30 characters" data-success="✓">Only letters</span>
                    </div>
                </div>
                <!-- Continent Dropdown -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">public</i>
                        <select id="continent_name" name="continent_name" class="validate" required>
                        {% for continent in continents %}
                            <option value="{{ continent.continent_name }}">{{ continent.continent_name }}</option>
                        {% endfor %}
                        </select>
                        <label>Choose Continent</label>
                    </div>
                </div>
                <!-- Image upload -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">photo_camera</i>
                        <input id="place_url" name="place_url" data-length="200" type="text" pattern="https?://.+" class="validate">
                        <label for="place_url">Image url</label>
                        <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
                    </div>
                </div>
                <!-- Description Textarea -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">article</i>
                        <textarea id="description" name="description" minlength="5" data-length="500"
                            class="materialize-textarea validate" required></textarea>
                        <label for="description">Share Your Experience!</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="center-align">
                        <button class="btn-large teal darken-4" type="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}